body {
    background: linear-gradient(to right, #454343, #414145);    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color:inherit;
}

.card {
    margin-bottom: 20px;
    height: 500px;
}
.card-img-top{
    height: 300px;
}.card-body{
    background-color:inherit
}